<%- include('partials/header'); -%>


    <h1><%= title  %></h1>
    <ul>
        <% for(var i = 0; i < items .length; i++) { %>
            <li><%= items[i].name %></li>
        <%  } %>
    </ul>

    <h3>Add a New Product</h3>

    <form action="">
        <input type="text" name="item">
        <button>
            Add
        </button>
    </form>

<%- include('partials/footer'); -%>
